<div class="container">
  <h1 class="h1-form">Modify your book information</h1>
  <div class="parent">
    <div class="img-form-new">
      <%= image_tag "cat-read.png", alt: "cat reading" %>
    </div>

    <div class='form-new'>
    <%= render "form", book: @book %>
    </div>

    <div class="img-form-new">
      <%= image_tag "cat-read-two.png", alt: "cat reading" %>
    </div>
  </div>
</div>
