.btn-ghost {
  color: white;
  background-color: #c06784;
  border: 1px solid #c06784;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: bold;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  width: 100%;
}

.btn-ghost:hover {
  opacity: 1;
  background-color: #355c7d;
  color: white;
  font-size: bold;
  font-size: 1rem;
  font-weight: bold;
}
