/* styling the components from index page */

.container .cards {
  grid-template-columns: 1fr 1fr 1fr;
  display: grid;
  grid-gap: 2rem;
}

.card-grid > img {
  object-fit: cover;
  object-position: center;
  height: 600px;
}

.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 1.50rem;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 1rem;
  color: black;
  margin: 0;
}


.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip .price {
  position: absolute;
  left: 20rem;
  top: 1.5rem;
}

.search {
  width: 50%;
  margin: 0 auto;
}

.edit-delete {
  display: flex;
  justify-content: space-between;
  margin-left: 2rem;
  margin-right: 2rem;
  color: lightgray;
  font-weight: 400;
}

.edit-delete a {
  text-decoration: none;
  color: #355C7D;;
  padding-bottom: 1rem;
}

.edit-delete a:hover {
  color: pink;
  font-weight: 800;
}
