/* styling the components from show page */

.grid-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  grid-gap: 2rem;
  margin: 2rem;
}

.grey-bloc {
  background-color:white;
  padding: 37px;
  border-radius: 5px;
}

.book-desc {
  font-size: 1.25rem;
}

.price-desc {
  font-size: 1rem;
  color: #355C7D;
  text-transform: uppercase;
  font-weight: bold;
}

#new_reservation {
  background-color: white;
  padding: 2rem;
  border-radius: 4px;
}

.show-title {
  font-size: 5rem;
}

.img-show {
  height:400x;
  grid-row: 1/3;
}

.book-title {
  font-size: 2rem;
  padding-bottom: 1rem;
}

.resa-form {
  grid-column: 2/3;
}

.book-info h3 {
  font-size: 2rem;
  font-weight: 800;
}

.book-info span {
  font-size: 1.25rem;
  font-weight: 800;
}
