.footer {
  background:white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
  // border-top: solid 0.5px #355c7d;
  opacity: 0.4;
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  // opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
  color: #c06c84;
  font-size: 3rem;
}
.footer .fa-heart {
  color: #D23333;
}

.foot-centered {
  width: max-content;
  margin: 0px auto;
}
